# Virtual environment & Python caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
env/
venv/

# Large Raw Datasets & Model Artifacts
data/raw/
models/

# Extra Workspace Files / Unwanted Folder
extra_workspace_files/

# Environment Secrets
.env
.env.local
